#imagen_logo {
    width: 100px;
    height: 100px;
}

header {
    padding: 60px 20px;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-around;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.menu>li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    list-style: none;
    color: black;
}

.contenedor {
    display: flex;
    justify-content: space-around;
}